# String Formatting

In [1]:
a = "Hello"
b = "Python"

In [2]:
msg = "Hi Welcome to my Hello Python Series"
msg

'Hi Welcome to my Hello Python Series'

In [3]:
print("Hi I am an awesome Python Series names %s %s " %(a,"Mayank"))

Hi I am an awesome Python Series names Hello Mayank

In [4]:
res = 10/8

In [5]:
res

1.25

In [6]:
res = 3.1299999

In [7]:
print("The result is %2.1f" %(res))

The result is 3.1

In [8]:
name = "python"
age = 30
# Example
print("My name is {} and I am {} years old.".format(name, age))

My name is python and I am 30 years old.

In [9]:
# Positional Arguments
print("Hello {0}, you are {1} years old.".format(name, age))

Hello python, you are 30 years old.

In [10]:
# Named Arguments
print("Hello {firstName}, I am are {age} years old. The best way to learn me is Hello {firstName} Series".format(firstName=name, age=age))

Hello python, I am are 30 years old. The best way to learn me is Hello python Series

In [11]:
name = "python"
age = 30

In [12]:
str1 = f"Hello my name is {name} and my age is {age}"

In [13]:
str1

'Hello my name is python and my age is 30'

In [14]:
pi = 3.141592653589793
print("The value of pi rounded to 2 decimal places is %.2f" % pi)
print("The value of pi rounded to 3 decimal places is {:.3f}".format(pi))
print(f"The value of pi rounded to 4 decimal places is {pi:.4f}")

The value of pi rounded to 2 decimal places is 3.14
The value of pi rounded to 3 decimal places is 3.142
The value of pi rounded to 4 decimal places is 3.1416

In [15]:
income = 100
tax = 30

In [16]:

str2 = f"My final income is {income - tax}"
str2

'My final income is 70'